@model TP.Site.Models.PrintingProcess.PrintingProcessModel

<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.MachineId, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.DropDownListFor(p => p.MachineId, Model.Machines, new {
   @class="form-control"})       
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.MachineId)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.ProcessType, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.DropDownListFor(m => m.ProcessType, Model.ProcessTypes, new {
       @class = "form-control"
   })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.ProcessType)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.Name, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "名称", id = "txtName" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.Name)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.ShortName, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control", placeholder = "简称", id = "txtShortName" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.ShortName)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.MnemonicCode, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.MnemonicCode, new { @class = "form-control", placeholder = "助记码", id = "txtMnemonicCode" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.MnemonicCode)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.PartsAttributeCode, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.PartsAttributeCode, new { @class = "form-control", placeholder = "组成编码", id = "txtPartsAttributeCode" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.PartsAttributeCode)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.SideProperty, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.SideProperty, new { @class = "form-control", placeholder = "面", id = "txtSideProperty" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.SideProperty)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.ColorType, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.DropDownListFor(m => m.ColorType, Model.ColorTypes, new {
       @class = "form-control"})
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.ColorType)
        </p>
    </div>
</div>


