@model TP.Site.Models.OrderRemindSetting.OrderRemindSettingModel

<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.ReminderType, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.ReminderType, new { @class = "form-control", placeholder = "提醒类型", id = "txtReminderType" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.ReminderType)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.ReminderCycle, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.ReminderCycle, new { @class = "form-control", placeholder = "提醒周期", id = "txtReminderCycle" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.ReminderCycle)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.ReminderColor, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.ReminderColor, new { @class = "form-control", placeholder = "提醒颜色", id = "txtReminderColor" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.ReminderColor)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.OvertimeCycle, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.OvertimeCycle, new { @class = "form-control", placeholder = "超时周期", id = "txtOvertimeCycle" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.OvertimeCycle)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.OvertimeColor, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.OvertimeColor, new { @class = "form-control", placeholder = "超时颜色", id = "txtOvertimeColor" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.OvertimeColor)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.EnabledWarning, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.CheckBoxFor(m => m.EnabledWarning)       
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.EnabledWarning)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.WarningMessages, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.WarningMessages, new { @class = "form-control", placeholder = "警告消息", id = "txtWarningMessages" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.WarningMessages)
        </p>
    </div>
</div>


