@model TP.Site.Models.SysSetting.TaxRateCategoryModel

<div class="form-group form-group-boder">
   @Html.LabelFor(m => m.Name, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.Name)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
    @Html.LabelFor(m => m.TaxRate, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(m => m.TaxRate, new { @class = "form-control" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.TaxRate)
        </p>
    </div>
</div>
<div class="form-group form-group-boder">
    @Html.LabelFor(m => m.Description, new { @class = "control-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextAreaFor(m => m.Description,10,20, new { @class = "form-control" })
    </div>
    <div class="col-lg-4">
        <p class="text-danger">
            @Html.ValidationMessageFor(m => m.Description)
        </p>
    </div>
</div>
